main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(69, 255, 255);
    padding: 10px;
}
main img{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    width: 500px;
    z-index: 1;
    animation: rotate forwards infinite linear 5s;
}
@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
main div{
    z-index: 100;
    border-bottom: 1px rgb(255, 255, 255) solid;
    padding:5px;
}
main div ul ,p{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size:1.25rem;
    border-radius: 5px;
    
}
main div ul{
    height: 15rem;
}
main div p{
    line-height: 2rem;
}


main div ul li{

    list-style: none;
    display: flex;
    gap:20px;

}
main div ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: aquamarine;
    display: inline-block;
}